body {
    color:white ;
    background-image:url(https://www.tapeciarnia.pl/tapety/normalne/157487_minecraft_szkielet_swinka.jpg);
    background-size: cover;
}
a {color:rgb(0, 255, 76)}

.logo {
    max-width: 400px;
}
