
body {
  color:white  ;
  background-image:url(https://www.tapeciarnia.pl/tapety/normalne/157487_minecraft_szkielet_swinka.jpg);
  background-size: cover;
  font-style: inherit;

}
a {color:rgb(0, 255, 76)}

.logo {
    max-width: 300px;
}

/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: red;
  }
  
  /* mouse over link */
  a:hover {
    color: yellowgreen;
  }
  
  /* selected link */
  a:active {
    color: lightgreen;
    ;
  }

  img:hover {
      transform: scale(1.5)  rotate(1deg);
      transition: all 500ms;
  }
  
  
  